#playlist-selection {
  position: absolute;
  left: 0;
  right: 20%;
  height: 100%;
  overflow: auto;
}

#menu {
  position: absolute;
  left: 80%;
  right: 0;
  height: 100%;
  display: none;
}

button {
  width: 100%;
  height: 50px;
}